<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi! </h1>
    <p>
      Wow, It seems like <%= @user.name %> added new song! <br>
    </p>
    <p>Click <%= link_to "here", comments_songs_path(:id => @song_id, :only_path => false, :host => "127.0.0.1", :port => 3000) %> to look it immediately!</p>
  </body>
</html>