<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi, <%= @user.name %>! </h1>
    <p>
      You start following new user on Soundcloud!<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>